.spacer{
	margin-top:20px;
}
.hSpacer{
	margin-left:20px;
}
a{
	cursor:pointer;
}
.table-hover > tbody > tr:hover > td ,
.table-hover > tbody > tr:hover > th{
	background-color:#428BCA;
	color:#ffffff;
} 

.clickable{
	cursor:pointer;
}
.surbrillanceRecherche{
	background-color:#FFD42A;
}
